html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Arial, sans-serif; /* ׀ףבכוםי רנטפע #*/
}

.expenses {
    position: fixed;
    left: 3%;
    top: 50%;
}

.expenses_table {
    border: 3px groove black;
    position: fixed;
    right: 3%;
    top: 5%;
}

.income_table {
    border: 3px groove black;
    position: fixed;
    right: 30%;
    top: 5%;
}

caption {
    text-align: right;
}